.profile__info {
  display: grid;
  grid-template-areas:
    "avatar title edit"
    "avatar subtitle .";
}

@media screen and (max-width: 768px) {
  .profile__info {
    grid-template-areas:
      "avatar avatar"
      "title edit"
      "subtitle subtitle";
  }
}
