.login__input {
  color: #ccc;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
  margin-bottom: 15px;
  padding: 0;
  width: 100%;
  background: none;
  border: none;
  padding-bottom: 13px;
  border-bottom: 2px solid rgba(204, 204, 204, 1);
}

.login__input:last-child {
  margin-bottom: 0;
}
