.popup__image-heading {
  margin: 0;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #ffffff;
  align-self: flex-start;
  padding-top: 10px;
}
