.register__submit-button {
  margin: 0;
  margin-top: 216px;
  padding: 0;
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-radius: 2px;
  background: #fff;
  height: 50px;
  border: none;
  cursor: pointer;
}

.register__submit-button:hover {
  opacity: 0.6;
  transition: 0.6s;
}
