@import url(./vendor/normalize.css);
@import url(./vendor/fonts/fonts.css);

@import url(./blocks/page/page.css);

@import url(./blocks/header/header.css);
@import url(./blocks/header/__logo/header__logo.css);

@import url(./blocks/main/main.css);

@import url(./blocks/profile/profile.css);
@import url(./blocks/profile/__info/profile__info.css);
@import url(./blocks/profile/__title/profile__title.css);
@import url(./blocks/profile/__subtitle/profile__subtitle.css);
@import url(./blocks/profile/__avatar/profile__avatar.css);
@import url(./blocks/profile/__add-button/profile__add-button.css);
@import url(./blocks/profile/__edit-button/profile__edit-button.css);

@import url(./blocks/elements/elements.css);

@import url(./blocks/element/element.css);
@import url(./blocks/element/__image/element__image.css);
@import url(./blocks/element/__like-button/element__like-button.css);
@import url(./blocks/element/__title/element__title.css);
@import url(./blocks/element/__whitebox/element__whitebox.css);
@import url(./blocks/element/__like-button/_active/element__like-button_active.css);
@import url(./blocks/element/__trash-button/element__trash-button.css);

@import url(./blocks/footer/footer.css);
@import url(./blocks/footer/__copyright/footer__copyright.css);

@import url(./blocks/popup/popup.css);
@import url(./blocks/popup/_opened/popup_opened.css);
@import url(./blocks/popup/__form/popup__form.css);
@import url(./blocks/popup/__heading/popup__heading.css);
@import url(./blocks/popup/__input/popup__input.css);
@import url(./blocks/popup/__submit-button/popup__submit-button.css);
@import url(./blocks/popup/__close-button/popup__close-button.css);
@import url(./blocks/popup/__close-button/_position/popup__close-button_position_image-popup.css);

@import url(./blocks/popup/__image/popup__image.css);
@import url(./blocks/popup/__image-heading/popup__image-heading.css);
@import url(./blocks/popup/__image-box/popup__image-box.css);

@import url(./blocks/popup/__input/_type/popup__input_type_error.css);
@import url(./blocks/popup/__error/popup__error_visible.css);
@import url(./blocks/popup/__submit-button/_disabled/popup__submit-button_disabled.css);
@import url(./blocks/popup/__input-container/popup__input-container.css);

@import url(./blocks/profile/__avatar-container/profile__avatar-container.css);
@import url(./blocks/profile/__avatar-button/profile__avatar-button.css);

@import url(./blocks/popup/__heading/_place/popup__heading_place_delete.css);

@import url(./blocks/element/__trash-button/_visibility/element___trash-button_visibility_visible.css);
@import url(./blocks/element/__like-button-container/element__like-button-container.css);

@import url(./blocks/popup/__infotooltip/popup__infotooltip.css);
@import url(./blocks/popup/__heading/_place/popup__heading_place_tooltip.css);

@import url(./blocks/register/register.css);
@import url(./blocks/register/__form/register__form.css);
@import url(./blocks/register/__heading/register__heading.css);
@import url(./blocks/register/__input/register__input.css);
@import url(./blocks/register/__inputs/register__inputs.css);
@import url(./blocks/register/__signin/register__signin.css);
@import url(./blocks/register/__submit-button/register__submit-button.css);


@import url(./blocks/login/login.css);
@import url(./blocks/login/__form/login__form.css);
@import url(./blocks/login/__heading/login__heading.css);
@import url(./blocks/login/__input/login__input.css);
@import url(./blocks/login/__inputs/login__inputs.css);
@import url(./blocks/login/__signin/login__signin.css);
@import url(./blocks/login/__submit-button/login__submit-button.css);

@import url(./blocks/header/__navbar/header__navbar.css);
@import url(./blocks/header/__navbar-email/header__navbar-email.css);
@import url(./blocks/header/__navbar-logout/header__navbar-logout.css);


